# ---------------------------------------------------------------------------- #
# Required environment variables to configure Terraform for Newrelic
# dashboards and alets automation
# ---------------------------------------------------------------------------- #
# Required
export NEW_RELIC_ACCOUNT_ID=""

# Required
export NEW_RELIC_REGION="US"

# Required
# - Prefixed with NRAK
export NEW_RELIC_API_KEY=""

# Optional
export NEW_RELIC_INSIGHTS_INSERT_KEY="<your New Relic Insights Insert Key>"
